section(class=add_link_for_clients ? 'companies companies--clients companies--big-squares' : 'companies companies--clients')
  if add_link_for_clients 
    ul.companies__list.companies__list--slider.owl-carousel.owl-theme(style='padding-bottom: 60px')
      div.companies__slide.companies__slide--1
        li.companies__item
          .companies__title АО «НПП «Промтрансавтоматика»
        li.companies__item
          .companies__title АО «Концерн «ЦНИИ «Электроприбор»
        li.companies__item
          .companies__title АО «ЛОМО»
        li.companies__item
          .companies__title АО «НПП «Радар ммс»
        li.companies__item
          .companies__title Санкт-Петербургский государственный университет
        li.companies__item
          .companies__title ООО «НТЦ «Гидротранс»
        li.companies__item
          .companies__title АО «Завод «Знамя труда»
        li.companies__item
          .companies__title ООО «Инжиниринг Геотехнических Систем»
        li.companies__item
          .companies__title Caterpillar
        li.companies__item
          .companies__title АО НТЦ «РОКАД»
        li.companies__item
          .companies__title ООО «МОП им. Калинина»
        li.companies__item
          .companies__title ООО «Интеллектуальное конструкторское бюро»
        li.companies__item
          .companies__title АО «ГМЗ «Химмаш»
        li.companies__item
          .companies__title АО «Нева металл посуда»
        li.companies__item
          .companies__title ООО «Главпромстрой»
      div.companies__slide.companies__slide--2
        li.companies__item
          .companies__title ООО НПФ «РЕОМ»
        li.companies__item
          .companies__title OOO «ОМЗ-Термопресс»
        li.companies__item
          .companies__title ООО «Обсервер»
        li.companies__item
          .companies__title Tunnel Tech
        li.companies__item
          .companies__title Завод ПТО им. С.М.Кирова
        li.companies__item
          .companies__title ООО «ПО «Новатор»
        li.companies__item
          .companies__title ООО «Инвайро»
        li.companies__item
          .companies__title ООО «Адсорбционная техника»
        li.companies__item
          .companies__title ООО «Синтез Технолоджи»
        li.companies__item
          .companies__title ГК «Тира»
        li.companies__item
          .companies__title АО «Тихвинский вагоностроительный завод»
        li.companies__item
          .companies__title ООО «РОСНА Инжиниринг»
        li.companies__item
          .companies__title ООО «ПК «Ландскрона»
        li.companies__item
          .companies__title АО «Завод художественных красок «Невская палитра»
        li.companies__item
          .companies__title ООО «Лаборатория цифрового зрения»
      div.companies__slide.companies__slide--3
        li.companies__item
          .companies__title АО «Завод «Красный Выборжец»

        li.companies__item
          .companies__title ООО «Оптотехника»
        li.companies__item
          .companies__title ООО «Производственно-техническая фирма «КонСис»
        li.companies__item
          .companies__title Производственное объединение «Технорос»
        li.companies__item
          .companies__title АО НПП «Авиационная и Морская Электроника»
        li.companies__item
          .companies__title АО «Машиностроение Северной верфи»
        li.companies__item
          .companies__title ООО «Судостроительная компания «АКО БАРСС»
        li.companies__item.companies__item--empty
          .companies__title Здесь может быть ваша компания
          a.companies__link(rel="nofollow" href='#')
        li.companies__item.companies__item--empty
          .companies__title Здесь может быть ваша компания
          a.companies__link(rel="nofollow" href='#')
        li.companies__item.companies__item--empty
          .companies__title Здесь может быть ваша компания
          a.companies__link(rel="nofollow" href='#')
  else
    .companies__inner
      h2.title.title--uppercase Наши клиенты
      .undertitle (Мы работаем с клиентами из самых разных отраслей промышленности)
      ul.companies__list.companies__list--flex
        li.companies__item
          .companies__title АО «НПП «Промтрансавтоматика»
        li.companies__item
          .companies__title АО «Концерн «ЦНИИ «Электроприбор»
        li.companies__item
          .companies__title АО «ЛОМО»
        li.companies__item
          .companies__title АО «НПП «Радар ммс»
        li.companies__item
          .companies__title Санкт-Петербургский государственный университет
        li.companies__item
          .companies__title ООО «НТЦ «Гидротранс»
        li.companies__item
          .companies__title АО «Завод «Знамя труда»
        li.companies__item
          .companies__title ООО «Инжиниринг Геотехнических Систем»
        li.companies__item
          .companies__title Caterpillar
        li.companies__item
          .companies__title АО НТЦ «РОКАД»
        li.companies__item
          .companies__title ООО «МОП им. Калинина»
        li.companies__item
          .companies__title ООО «Интеллектуальное конструкторское бюро»
        li.companies__item
          .companies__title АО «ГМЗ «Химмаш»
        li.companies__item
          .companies__title АО «Нева металл посуда»
        li.companies__item
          .companies__title ООО «Главпромстрой»
        li.companies__item
          .companies__title ООО НПФ «РЕОМ»
        li.companies__item
          .companies__title OOO «ОМЗ-Термопресс»
        li.companies__item
          .companies__title ООО «Обсервер»
        li.companies__item
          .companies__title Tunnel Tech
        li.companies__item
          .companies__title Завод ПТО им. С.М.Кирова
        li.companies__item
          .companies__title ООО «ПО «Новатор»
        li.companies__item
          .companies__title ООО «Инвайро»
        li.companies__item
          .companies__title ООО «Адсорбционная техника»
        li.companies__item
          .companies__title ООО «Синтез Технолоджи»
        li.companies__item
          .companies__title ГК «Тира»
        li.companies__item
          .companies__title АО «Тихвинский вагоностроительный завод»
        li.companies__item
          .companies__title ООО «РОСНА Инжиниринг»
        li.companies__item
          .companies__title ООО «ПК «Ландскрона»
        li.companies__item
          .companies__title АО «Завод художественных красок «Невская палитра»
        li.companies__item
          .companies__title ООО «Лаборатория цифрового зрения»
        li.companies__item
          .companies__title АО «Завод «Красный Выборжец»
        li.companies__item
          .companies__title ООО «Оптотехника»

        li.companies__item
          .companies__title ООО «Производственно-техническая фирма «КонСис»
        li.companies__item
          .companies__title Производственное объединение «Технорос»
        li.companies__item
          .companies__title АО НПП «Авиационная и Морская Электроника»
        li.companies__item
          .companies__title АО «Машиностроение Северной верфи»
        li.companies__item
          .companies__title ООО «Судостроительная компания «АКО БАРСС»

        li.companies__item.companies__item--empty
          .companies__title Здесь может быть ваша компания
          a.companies__link(rel="nofollow" href='#')
        li.companies__item.companies__item--empty
          .companies__title Здесь может быть ваша компания
          a.companies__link(rel="nofollow" href='#')
        li.companies__item.companies__item--empty
          .companies__title Здесь может быть ваша компания
          a.companies__link(rel="nofollow" href='#')
  ul.companies__popups
    li
      section.popup
        .popup__btn
        h1 АО «НПП «Промтрансавтоматика»
        a.popup__link(rel="nofollow" href='http://www.ptaspb.ru/') www.ptaspb.ru
        .popup__left
          p НПП «Промтрансавтоматика» активно участвует в проектах автоматизации деятельности городских служб. Системы и аппаратно-программные комплексы применяются на разводных мостах Санкт-Петербурга, в метрополитене, на железнодорожном транспорте, на других объектах города и области.
        .popup__right
          img.feedback(src="/img/feedbacks/Промтрансавтоматика.jpg")
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 АО «Концерн «ЦНИИ «Электроприбор»
        a.popup__link(rel="nofollow" href='http://www.elektropribor.spb.ru') www.elektropribor.spb.ru
        .popup__left
          p АО «Концерн «ЦНИИ «Электроприбор» является ведущим институтом страны в области высокоточной навигации, гироскопии, гравиметрии и оптоэлектронных систем наблюдения подводных лодок, успешно ведет разработки и поставляет технику морской радиосвязи и гидроакустики.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 АО «ЛОМО»
        a.popup__link(rel="nofollow" href='http://www.lomo.ru') www.lomo.ru
        .popup__left
          p АО «ЛОМО» является ведущим предприятием России по производству оптических, оптико-электронных, оптико-цифровых и оптико-механических приборов, систем и комплексов.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 АО «НПП «Радар ммс»
        a.popup__link(rel="nofollow" href='http://www.radar-mms.com/') www.radar-mms.com
        .popup__left
          p АО «Научно-производственное предприятие «Радар ммс» является одним из мировых лидеров в области создания радиоэлектронных систем и комплексов специального и гражданского назначения, точного приборостроения, специального программного обеспечения.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 Санкт-Петербургский государственные университет
        a.popup__link(rel="nofollow" href='https://spbu.ru/') www.spbu.ru
        .popup__left
          p СПБГУ — крупнейший научно-образовательный центр Европы и мира. Сегодня здесь учатся более 30 тысяч студентов, работают лауреаты Нобелевской и Филдсовской премий, созданы более 15 крупных лабораторий и 26 ресурсных центров.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «НТЦ «Гидротранс»
        a.popup__link(rel="nofollow" href='http://hydrotrans.ru/') www.hydrotrans.ru
        .popup__left
          p ООО «НТЦ «Гидротранс» специализируется на проектировании, изготовлении, монтаже и обслуживании гидравлических приводов для гидротехнических сооружений, шахт, предприятий промышленности и ВПК и др.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 АО «Завод «Знамя труда»
        a.popup__link(rel="nofollow" href='http://zzt.ru/') www.zzt.ru
        .popup__left
          p АО «Завод «Знамя труда» — один из крупнейших производителей трубопроводной арматуры в России. Экспортные и внутренние поставки продукции осуществляются на самые современные объекты атомной и топливной энергетики.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «Инжиниринг Геотехнических Систем»
        .popup__left
          p Разработка строительных проектов, строительство инженерных коммуникаций для водоснабжения и водоотведения, газоснабжения, строительство коммунальных объектов для обеспечения электроэнергией и телекоммуникациями.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 Caterpillar
        a.popup__link(rel="nofollow" href='https://www.cat.com/ru_RU.html') www.cat.com
        .popup__left
          p Одна из ведущих корпораций по производству крупнейшей спецтехники в мире. Выпускает землеройно-транспортную технику, строительное оборудование, дизельные двигатели, энергетические установки (работающие на природном и попутном газах) и другие продукты, а также обувь.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 АО НТЦ «РОКАД»
        a.popup__link(rel="nofollow" href='http://rocad.ru/') www.rocad.ru
        .popup__left
          p Компания Научно-Технический Центр «РОКАД» занимается наукоемкими разработками, выполнением НИР и ОКР, а также разработкой ноу-хау на заказ.
        .popup__right
          img.feedback(src="/img/feedbacks/НТЦ РОКАД.jpg")
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «МОП им. Калинина»
        a.popup__link(rel="nofollow" href='http://kme.su/') www.kme.su
        .popup__left
          p ООО «МОП им. Калинина» осуществляет обработку металлов и нанесение покрытий на металлы, обработку металлических изделий с использованием основных технологических процессов машиностроения, изготовление деталей и узлов различной степени сложности.
        .popup__right
          img.feedback(src="/img/feedbacks/МОП Калинина.jpg")
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 
          | ООО «Интеллектуальное 
          br
          | конструкторское бюро»
        a.popup__link(rel="nofollow" href='http://rusfuture.com/') www.rusfuture.com
        .popup__left
          p ИКБ является развивающейся и перспективной многопрофильной организацией, оказывающей широкий спектр технологических услуг, обладает всеми возможностями и достаточным потенциалом для выполнения задач любой сложности.
        .popup__right
          img.feedback(src="/img/feedbacks/ИКБ.jpg")
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 АО «ГМЗ «Химмаш»
        a.popup__link(rel="nofollow" href='http://www.him-mash.com/') www.him-mash.com
        .popup__left
          p АО «ГМЗ «Химмаш» является инжиниринговой компанией, специализирующейся на предоставлении инжиниринговых услуг по строительству новых, модернизации существующих энергетических мощностей на промышленных предприятиях и объектах энергетики.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 АО «Нева металл посуда»
        a.popup__link(rel="nofollow" href='https://nmp.ru') www.nmp.ru
        .popup__left
          p Компания АО «Нева металл посуда» занимается разработкой уникальной по своим потребительским свойствам и качеству посуды. Предприятие находится в Петербурге, в научно-промышленном центре, что дает возможность задействовать интеллектуально-технические ресурсы, порой недоступные на удаленных производствах.
        .popup__right
          img.feedback(src="/img/feedbacks/НМП.jpg")
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «Главпромстрой»
        a.popup__link(rel="nofollow" href='http://glavpromstroi.com/') www.glavpromstroi.com
        .popup__left
          p ООО «Главпромстрой» - многопрофильная организация, успешно и стабильно работающая на рынке строительства с 1992 года, занимающаяся строительством, реконструкцией и капитальным ремонтом зданий и сооружений промышленного и коммунально-бытового назначения.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО НПФ «РЕОМ»
        a.popup__link(rel="nofollow" href='http://npf-reom.ru/') www.npf-reom.ru
        .popup__left
          p НПФ «РЕОМ» разрабатывает, производит, модернизирует и поставляет климатические камеры для проведения испытаний в различных отраслях промышленности.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «ОМЗ-Термопресс»
        a.popup__link(rel="nofollow" href='http://www.omz-izhora.ru') www.omz-izhora.ru
        .popup__left
          p ПАО "ОМЗ" – одна из ведущих компаний тяжелого машиностроения, специализирующаяся на инжиниринге, а также на производстве спецсталей и предоставлении промышленных услуг.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «Обсервер»
        a.popup__link(rel="nofollow" href='https://o-mp.ru/') www.o-mp.ru
        .popup__left
          p Компания «Обсервер» занимается разработкой, производством и продвижением самых передовых устройств, для улучшения качества жизни инвалидов, создания безбарьерной среды и обеспечения «Равных возможностей для всех». 
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 Tunnel Tech
        a.popup__link(rel="nofollow" href='http://tunneltech.eu/') www.tunneltech.eu
        .popup__left
          p Компания Tunnel Tech занимается разработкой и производством аэротруб и ветровых тоннелей различной степени мощности, а также разрабатывает программное обеспечение для управления ими.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 Завод ПТО им. С.М.Кирова
        a.popup__link(rel="nofollow" href='http://zpto.ru/') www.zpto.ru
        .popup__left
          p Завод ПТО им. С.М.Кирова - ведущее предприятие машиностроительной отрасли, традиционно обеспечивавшее металлургические заводы, атомные, гидро- и тепловые электростанции и другие предприятия народного хозяйства СССР высокопроизводительными грузоподъемными кранами тяжелых режимов работы. 
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «ПО «Новатор»
        a.popup__link(rel="nofollow" href='http://www.spbnovator.ru/') www.spbnovator.ru
        .popup__left
          p ООО «ПО «Новатор» специализируется на разработке и производстве аппаратов воздушного охлаждения (АВО), с упором на модернизацию и повышения их эффективности.
        .popup__right
          img.feedback(src="/img/feedbacks/Новатор.jpg")
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «Инвайро»
        a.popup__link(rel="nofollow" href='https://enviro.su/') www.enviro.su
        .popup__left
          p Компания ООО «Инвайро» занимается мусоропереработкой, гащоочисткой, уничтожением опасных отходов, обезвреживанием медицинских отходов, а также рекультивацией отходов в энергию и тепло.
        .popup__right
          img.feedback(src="/img/feedbacks/Инвайро.jpg")
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «Адсорбционная техника»
        .popup__left
          p ООО «Адсорбционная техника» осуществляем производство теплообменных устройств, оборудования для кондиционирования воздуха промышленного холодильного и морозильного оборудования, производство оборудования для фильтрования и очистки газов.
        .popup__right
          img.feedback(src="/img/feedbacks/А-техника.jpg")
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «Синтез Технолоджи»
        a.popup__link(rel="nofollow" href='http://syntechno.ru/') www.syntechno.ru
        .popup__left
          p ООО «Синтез Технолоджи» занимается производством основных неорганических химических веществ, производством изделий технического назначения из драгоценных металлов, обработкой драгоценных, полудрагоценных, поделочных и синтетических камней.
        .popup__right
          img.feedback(src="/img/feedbacks/Синтез Технолоджи.jpg")
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ГК «Тира»
        a.popup__link(rel="nofollow" href='https://tira.ru/') www.tira.ru
        .popup__left
          p Группа промышленных компаний "Корпорация "ТИРА" объединяет предприятия, занимающиеся разработкой, производством, поставкой, внедрением и сопровождением мощной радиопередающей аппаратуры и комплексов для профессиональной радиосвязи военного и гражданского назначения, оборудования теле и радиовещательной продукции.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 АО «Тихвинский вагоностроительный завод»
        a.popup__link(rel="nofollow" href='http://www.tvsz.ru/') www.tvsz.ru
        .popup__left
          p Предприятие является одним из самых масштабных объектов транспортного машиностроения в Европе по объему инвестиций, производственным площадям и уровню технического оснащения.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «РОСНА Инжиниринг»
        a.popup__link(rel="nofollow" href='http://rosna.spb.ru/') www.rosna.spb.ru
        .popup__left
          p Компания занимается техническим и технологическим аудитом, поставкой и внедрением, техническим обслуживанием, ремонтом и модернизацией промышленного оборудования, а также производством собственного оборудования.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «ПК «Ландскрона»
        a.popup__link(rel="nofollow" href='http://www.vari.ru/') www.vari.ru
        .popup__left
          p Российская производственная компания, специализирующаяся на выпуске высококачественной алюминиевой посуды с антипригарным покрытием компании Whitford.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 АО «Завод художественных красок «Невская палитра» 
        a.popup__link(rel="nofollow" href='http://www.nevskayapalitra.ru/') www.nevskayapalitra.ru
        .popup__left
          p Завод художественных красок «Невская палитра» на протяжении 80 лет выпускает продукцию высшего качества для профессиональных художников и любителей творчества.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «Лаборатория цифрового зрения»
        a.popup__link(rel="nofollow" href='https://divisionlabs.com/') www.divisionlabs.com
        .popup__left
          p ООО «Лаборатория цифрового зрения» является российским производителем автоматических комплексов фотовидеофиксации (КФВФ) нарушений Правил дорожного движения под торговой маркой «Птолемей».
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 АО «Завод «Красный Выборжец»
        a.popup__link(rel="nofollow" href='http://kv-spb.ru/') www.kv-spb.ru
        .popup__left
          p Одно из ведущих в России предприятий по обработке цветных металлов. Предприятие выпускает широкий ассортимент изделий из меди и сплавов на ее основе в виде листов и лент. 
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «Оптотехника»
        a.popup__link(rel="nofollow" href='') 
        .popup__left
          p Предприятие занимается производством приборов, датчиков, аппаратуры и инструментов для измерения, контроля и испытаний, а также производством  оптических приборов, фото- и кинооборудования и разработкой программного обеспечения для них.
        .popup__right
        include hashtags.pug
    
    li
      section.popup
        .popup__btn
        h1 ООО «Производственно-техническая фирма «КонСис»
        a.popup__link(rel="nofollow" href='https://www.consys.ru/') www.consys.ru
        .popup__left
          p Компания выполняет полный цикл работ по созданию автоматизированных систему управления технологическими процессами: от постановки задачи до ввода в эксплуатацию.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 Производственное объединение «Технорос»
        a.popup__link(rel="nofollow" href='https://tehnoros.ru/') www.tehnoros.ru
        .popup__left
          p Компания специализируется на разработке и реализации уникальных инженерно-технических решений, основанных на детальном анализе технологических особенностей каждого проекта, условий эксплуатации оборудования и индивидуальных потребностях заказчика.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 АО НПП «Авиационная и Морская Электроника»
        a.popup__link(rel="nofollow" href='https://nppame.ru/') www.nppame.ru
        .popup__left
          p АО НПП «АМЭ» является ведущим российским производителем систем обработки и отображения информации радиоэлектронных систем различного назначения, устанавливаемых на объектах стационарного, корабельного и авиационного базирования.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 АО «Машиностроение Северной верфи»
        a.popup__link(rel="nofollow" href='http://www.mb-sv.ru/') www.mb-sv.ru
        .popup__left
          p АО "Машиностроение Северной верфи" специализируется на производстве узлов и механизмов, различных металлоконструкций как основной вид деятельности.
        .popup__right
        include hashtags.pug
    li
      section.popup
        .popup__btn
        h1 ООО «Судостроительная компания «АКО БАРСС»
        a.popup__link(rel="nofollow" href='http://sk-akobarss.ru/') www.sk-akobarss.ru
        .popup__left
          p Основным направлением предусматривалось судостроение и судоремонт. За свою историю компания выполняла работы у большого количества различных компаний.
        .popup__right
        include hashtags.pug
    


  //- if add_link_for_clients
  //-   a.companies__btn(rel="nofollow" href='/about/our-clients.html', style="margin-bottom: 45px; margin-top: 55px") Подробнее
  //- else 


//- -
//-   const companies = [
//-     {
//-       name: 'АО «НПП «Промтрансавтоматика»', 
//-       site: 'www.ptaspb.ru', 
//-       descr: 'НПП «Промтрансавтоматика» активно участвует в проектах автоматизации деятельности городских служб. Системы и аппаратно-программные комплексы применяются на разводных мостах Санкт-Петербурга, в метрополитене, на железнодорожном транспорте, на других объектах города и области.',
//-       feedbackSrc: 'Промтрансавтоматика.jpg'
//-     },
//-     {
//-       name: 'АО «Концерн «ЦНИИ «Электроприбор»', 
//-       site: 'www.elektropribor.spb.ru', 
//-       descr: 'Государственный научный центр Российской Федерации АО «Концерн «ЦНИИ «Электроприбор» является ведущим институтом страны в области высокоточной навигации, гироскопии, гравиметрии и оптоэлектронных систем наблюдения подводных лодок, успешно ведет разработки и поставляет технику морской радиосвязи и гидроакустики.'
//-     },
//-     {
//-       name: 'АО «ЛОМО»', 
//-       site: 'www.lomo.ru', 
//-       descr: 'АО «ЛОМО» является ведущим предприятием России по производству оптических, оптико-электронных, оптико-цифровых и оптико-механических приборов, систем и комплексов.'
//-     },
//-     {
//-       name: 'АО «НПП «Радар ммс»', 
//-       site: 'www.radar-mms.com', 
//-       descr: 'АО «Научно-производственное предприятие «Радар ммс» является одним из мировых лидеров в области создания радиоэлектронных систем и комплексов специального и гражданского назначения, точного приборостроения, специального программного обеспечения.'
//-     },
//-     {
//-       name: 'Санкт-Петербургский государственный университет', 
//-       site: 'www.spbu.ru', 
//-       descr: 'Санкт-Петербургский государственный университет — крупнейший научно-образовательный центр Европы и мира. Сегодня здесь учатся более 30 тысяч студентов, работают лауреаты Нобелевской и Филдсовской премий, созданы более 15 крупных лабораторий и 26 ресурсных центров, входящих в ведущий Научный парк страны.'
//-     },
//-     {
//-       name: 'ООО «НТЦ «Гидротранс»', 
//-       site: 'www.hydrotrans.ru', 
//-       descr: '«Научно-технический центр «Гидротранс», предприятие, специализирующееся на проектировании, изготовлении, монтаже и обслуживании гидравлических приводов для гидротехнических сооружений, шахт, предприятий промышленности и ВПК, создание цеховых стендов, имитирующих работу производственных комплексов, управляемых гидроприводами.'
//-     },
//-     {
//-       name: 'АО «Завод «Знамя труда»', 
//-       site: 'www.zzt.ru', 
//-       descr: 'АО «Завод «Знамя труда» — один из крупнейших производителей трубопроводной арматуры в России. Экспортные и внутренние поставки продукции осуществляются на самые современные объекты атомной и топливной энергетики.'
//-     },
//-     {
//-       name: 'ООО «Инжиниринг Геотехнических Систем»', 
//-       site: '', 
//-       descr: 'Разработка строительных проектов, строительство инженерных коммуникаций для водоснабжения и водоотведения, газоснабжения, строительство коммунальных объектов для обеспечения электроэнергией и телекоммуникациями.'
//-     },
//-     {
//-       name: 'Caterpillar', 
//-       site: 'www.cat.com', 
//-       descr: 'Одна из ведущих корпораций по производству крупнейшей спецтехники в мире. Выпускает землеройно-транспортную технику, строительное оборудование, дизельные двигатели, энергетические установки (работающие на природном и попутном газах) и другие продукты, а также обувь. С недавнего времени также и защищённые мобильные телефоны и смартфоны. В составе более 480 подразделений, расположенных в 50 странах мира на пяти континентах'
//-     },
//-     {
//-       name: 'АО НТЦ «РОКАД»', 
//-       site: 'www.rocad.ru', 
//-       descr: 'Компания Научно-Технический Центр «РОКАД» занимается наукоемкими разработками, выполнением НИР и ОКР, а также разработкой ноу-хау на заказ.',
//-       feedbackSrc: 'НТЦ РОКАД.jpg'
//-     },
//-     {
//-       name: 'ООО «МОП им. Калинина»', 
//-       site: 'www.kme.su', 
//-       descr: 'ООО «Механообрабатывающее предприятие им. Калинина» осуществляет обработку металлов и нанесение покрытий на металлы, обработку металлических изделий с использованием основных технологических процессов машиностроения, изготовление деталей и узлов различной степени сложности.',
//-       feedbackSrc, 'МОП Калинина.jpg'
//-     },
//-     {
//-       name: 'ООО «Интеллектуальное конструкторское бюро»', 
//-       site: 'www.rusfuture.com', 
//-       descr: 'ИКБ является развивающейся и перспективной многопрофильной организацией, оказывающей широкий спектр технологических услуг, обладает всеми возможностями и достаточным потенциалом для выполнения задач любой сложности.',
//-       feedbackSrc: 'ИКБ.jpg'
//-     },
//-     {
//-       name: 'АО «ГМЗ «Химмаш»', 
//-       site: 'www.him-mash.com', 
//-       descr: 'АО «ГМЗ «Химмаш» является инжиниринговой компанией, специализирующейся на предоставлении инжиниринговых услуг по строительству новых, модернизации существующих энергетических мощностей на промышленных предприятиях и объектах энергетики.'
//-     },
//-     {
//-       name: 'АО «Нева металл посуда»',
//-       site: 'www.nmp.ru', 
//-       descr: 'Компания АО «Нева металл посуда» занимается разработкой уникальной по своим потребительским свойствам и качеству посуды. Предприятие находится в Петербурге, в научно-промышленном центре, что дает возможность задействовать интеллектуально-технические ресурсы, порой недоступные на удаленных производствах.',
//-       feedbackSrc: 'НМП.jpg'
//-     },
//-     {
//-       name: 'ООО «Главпромстрой»',
//-       site: 'www.glavpromstroi.com', 
//-       descr: 'Строительная компания ООО «Главпромстрой» - многопрофильная организация, успешно и стабильно работающая на рынке строительства с 1992 года. Основная деятельность предприятия — строительство, реконструкция и капитальный ремонт зданий и сооружений промышленного и коммунально-бытового назначения.'
//-     },
//-     {
//-       name: 'ООО НПФ «РЕОМ»',
//-       site: 'www.npf-reom.ru',
//-       descr: 'НПФ «РЕОМ» разрабатывает, производит, модернизирует и поставляет климатические камеры для проведения испытаний в различных отраслях промышленности.'
//-     },
//-     {
//-       name: 'ООО «ОМЗ-Термопресс»',
//-       site: 'www.omz-izhora.ru',
//-       descr: 'Публичное акционерное общество Объединенные машиностроительные заводы (Группа Уралмаш-Ижора) – одна из ведущих компаний тяжелого машиностроения, специализирующаяся на инжиниринге, производстве и сервисном обслуживании оборудования для атомной энергетики, нефтехимической и нефтегазовой, горной промышленности, а также на производстве спецсталей и предоставлении промышленных услуг.'
//-     },
//-     {
//-       name: 'ООО «Обсервер»',
//-       site: 'www.o-mp.ru',
//-       descr: 'Компания «Обсервер» занимается разработкой, производством и продвижением самых передовых устройств, для улучшения качества жизни инвалидов, создания безбарьерной среды и обеспечения «Равных возможностей для всех».'
//-     },
//-     {
//-       name: 'Tunnel Tech',
//-       site: 'www.tunneltech.eu',
//-       descr: 'Компания Tunnel Tech занимается разработкой и производством аэротруб и ветровых тоннелей различной степени мощности, а также разрабатывает программное обеспечение для управления ими.'
//-     },
//-     {
//-       name: 'Завод ПТО им. С.М.Кирова',
//-       site: 'www.zpto.ru',
//-       descr: 'Завод ПТО им. С.М.Кирова - ведущее предприятие машиностроительной отрасли, традиционно обеспечивавшее металлургические заводы, атомные, гидро- и тепловые электростанции и другие предприятия народного хозяйства СССР высокопроизводительными грузоподъемными кранами тяжелых режимов работы.'
//-     },
//-     {
//-       name: 'ООО «ПО «Новатор»',
//-       site: 'www.spbnovator.ru',
//-       descr: 'ООО «ПО «Новатор» специализируется на разработке и производстве аппаратов воздушного охлаждения (АВО), с упором на модернизацию и повышения их эффективности.',
//-       feedbackSrc: 'Новатор.jpg'
//-     },
//-     {
//-       name: 'ООО «Инвайро»',
//-       site: 'www.enviro.su',
//-       descr: 'Компания ООО «Инвайро» занимается мусоропереработкой, гащоочисткой, уничтожением опасных отходов, обезвреживанием медицинских отходов, а также рекультивацией отходов в энергию и тепло.',
//-       feedbackSrc: 'Инвайро.jpg'
//-     },
//-     {
//-       name: 'ООО «Адсорбционная техника»',
//-       site: '',
//-       descr: 'ООО «Адсорбционная техника» осуществляем производство теплообменных устройств, оборудования для кондиционирования воздуха промышленного холодильного и морозильного оборудования, производство оборудования для фильтрования и очистки газов.',
//-       feedbackSrc: 'А-техника.jpg'
//-     },
//-     {
//-       name: 'ООО «Синтез Технолоджи»',
//-       site: 'www.syntechno.ru',
//-       descr: 'ООО «Синтез Технолоджи» занимается производством основных неорганических химических веществ, производством изделий технического назначения из драгоценных металлов, обработкой драгоценных, полудрагоценных, поделочных и синтетических камней.',
//-       feedbackSrc: 'Синтез Технолоджи.jpg'
//-     },
//-     {
//-       name: 'ГК «Тира»',
//-       site: 'www.tira.ru',
//-       descr: 'Группа промышленных компаний "Корпорация "ТИРА" объединяет предприятия, занимающиеся разработкой, производством, поставкой, внедрением и сопровождением мощной радиопередающей аппаратуры и комплексов для профессиональной радиосвязи военного и гражданского назначения, оборудования теле и радиовещательной продукции.'
//-     },
//-     {
//-       name: 'АО «Тихвинский вагоностроительный завод»',
//-       site: 'www.tvsz.ru',
//-       descr: 'Предприятие является одним из самых масштабных объектов транспортного машиностроения в Европе по объему инвестиций, производственным площадям и уровню технического оснащения.'
//-     },
//-     {
//-       name: 'ООО «РОСНА Инжиниринг»',
//-       site: 'www.rosna.spb.ru',
//-       descr: 'Компания занимается техническим и технологическим аудитом, поставкой и внедрением, техническим обслуживанием, ремонтом и модернизацией промышленного оборудования, а также производством собственного оборудования.'
//-     },
//-     {
//-       name: 'ООО «ПК «Ландскрона»',
//-       site: 'www.vari.ru',
//-       descr: 'Российская производственная компания, специализирующаяся на выпуске высококачественной алюминиевой посуды с антипригарным покрытием компании Whitford.'
//-     },
//-     {
//-       name: 'АО «Завод художественных красок «Невская палитра» ',
//-       site: 'www.nevskayapalitra.ru',
//-       descr: 'Завод художественных красок «Невская палитра» на протяжении 80 лет выпускает продукцию высшего качества для профессиональных художников и любителей творчества.'
//-     },
//-     {
//-       name: 'ООО «Лаборатория цифрового зрения»',
//-       site: 'www.divisionlabs.com',
//-       descr: 'ООО «Лаборатория цифрового зрения» является российским производителем автоматических комплексов фотовидеофиксации (КФВФ) нарушений Правил дорожного движения под торговой маркой «Птолемей».'
//-     },
//-     {
//-       name: 'АО «Завод «Красный Выборжец»',
//-       site: 'www.kv-spb.ru',
//-       descr: 'Одно из ведущих в России предприятий по обработке цветных металлов. Предприятие выпускает широкий ассортимент изделий из меди и сплавов на ее основе в виде листов и лент.'
//-     },
//-     {
//-       name: 'ООО «Оптотехника»',
//-       site: '',
//-       descr: 'Предприятие занимается производством приборов, датчиков, аппаратуры и инструментов для измерения, контроля и испытаний, а также производством  оптических приборов, фото- и кинооборудования и разработкой программного обеспечения для них.'
//-     }
//-   ];

//- section.companies.companies--clients
//-   h2.title.title--uppercase Наши клиенты
//-   .undertitle (Мы работаем с клиентами из самых разных отраслей промышленности)
//-   ul.companies__list
//-     if add_link_for_clients
//-       - let i = 0;

//-       while i < 13
//-         li.companies__item
//-           .companies__title #{companies[i].name}
//-         - i++

//-       while i % 5
//-         li.companies__item.companies__item--empty
//-           .companies__title Здесь может быть ваша компания
//-           a.companies__link(rel="nofollow" href='#')
//-         - i++
        
  //-   else 
  //-     each company in companies
  //-       li.companies__item
  //-         .companies__title= company.name

  //-     - let i = 0;
  //-     while ( (companies.length + i) % 5 )
  //-       li.companies__item.companies__item--empty
  //-         .companies__title Здесь может быть ваша компания
  //-         a.companies__link(rel="nofollow" href='#')
  //-       - i++
  //- ul.companies__popups
    //- if add_link_for_clients
    //-   - let i = 0;
      
    //-   while i < 13
    //-     li
    //-       section.popup
    //-         .popup__btn
    //-         h1 #{companies[i].name}
    //-         if companies[i].site
    //-           a.popup__link(rel="nofollow" href='http://' + companies[i].site, target='_blank') #{companies[i].site}
    //-         .popup__left
    //-           p #{companies[i].descr}
    //-         .popup__right
    //-           if companies[i].feedbackSrc
    //-             img.feedback(src='/img/feedbacks/' + companies[i].feedbackSrc)
    //-         include hashtags.pug



  //- if add_link_for_clients
  //-   a.companies__btn(rel="nofollow" href='/about/our-clients.html') Подробнее
  //- else 




  //- li
  //-     section.popup
  //-       .popup__btn
  //-       h1 ООО «МОП им. Калинина»
  //-       a.popup__link(rel="nofollow" href='http://kme.su/') www.kme.su
  //-       .popup__left
  //-         p 
  //-       .popup__right
  //-         img.feedback(src="/img/feedbacks/МОП Калинина.jpg")
  //-       include hashtags.pug
