section.main__articles
  h2.title Примеры выполненных работ
  #performed_works.owl-carousel
    if (parent === 'Металлоконструкции')
      if (title === 'Балки подкрановые сварные')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalstructures/welded-crane-girders/Балки${i}.jpg`)
        - }
      if (title === 'Опоры трубопроводов')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalstructures/pipeline-supports/Опоры${i}.jpg`)
        - }
      if (title === 'Площадки обслуживания')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalstructures/service-areas/Площадки${i}.jpg`)
        - }
      if (title === 'Технологические емкости')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalstructures/technological-tanks/Емкости${i}.jpg`)
        - }
      if (title === 'Стенды для испытаний')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalstructures/test-benches/Стенды${i}.jpg`)
        - }
      if (title === 'Тележки колесные / на рельсах')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalstructures/wheeled-trolleys/Тележки${i}.jpg`)
        - }
      if (title === 'Мостовые металлоконструкции')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalstructures/bridge-metal-structures/Мостовые${i}.jpg`)
        - }
      if (title === 'Нестандартные металлоконструкции')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalstructures/non-standart-metal-structures/Нестандартные${i}.jpg`)
        - }
      if (title === 'Строительные металлоконструкции')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalstructures/building-metal-structures/Строительные${i}.jpg`)
        - }
    else if (parent === 'Продукция')
      if (title === 'Арматура технологических трубопроводов')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalproducts/process-piping-fittings/Арматура${i}.jpg`)
        - }
      if (title === 'Редукторы / Зубчатые передачи / Комплектующие')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalproducts/gearboxes/Редукторы${i}.jpg`)
        - }
      if (title === 'Гидравлическое оборудование / Гидроцилиндры / Комплектующие')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalproducts/hydraulic-equipment/Гидравлика${i}.jpg`)
        - }
      if (title === 'Пресс-формы, штампы, матрицы, фильеры')
        - for (let i = 1; i < 9; i++) {
            img(src=`/img/carousel/metalproducts/press-molds/ПрессФормы${i}.jpg`)
        - }
      if (title === 'Детали для промышленного оборудования')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalproducts/extrusion-lines/Экстру${i}.jpg`)
        - }
      if (title === 'Детали для машиностроения')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalproducts/engineering-parts/Детали${i}.jpg`)
        - }
      if (title === 'Прецизионные детали')
        - for (let i = 1; i < 7; i++) {
            img(src=`/img/carousel/metalproducts/prescision-parts/Прец${i}.jpg`)
        - }
    else 
      - for (let i = 1; i < 26; i++) {
          img(src=`/img/carousel/${i}.jpg`)
      - }